@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Roles</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add New Role</a>
    </div>
</div>
<br />
<div>
    <br />

    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Roles)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <partial name="_PartialView" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">

        $(function () {
            var save = '@TempData["save"]';
            var del = '@TempData["del"]';
            var edit = '@TempData["edit"]';
            if (save != '') {
                alertify.success(save);
            }
            if (del != '') {
                alertify.error(del);
            }
            if (edit != '') {
                alertify.success(edit);
            }
        });
    </script>
}